
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "new_user cd-form"}) do |f| %>


					<%= link_to user_omniauth_authorize_path(:facebook),:class => "my_popup", :"data-width" => 600, :"data-height" => 400 do %>
					<div class= "btn facebook-login" id="loginButtons">
						
							<span class="facebook-icon-container">
	    							<i class="fa fa-facebook"></i>
							</span>
							<span class="facebook-text-container">
	    						Sign Up with Facebook
	  						</span>
					</div>
					<% end %>

					<!-- or separator -->
					
					<div class="or-spacer">
						<div class="mask"></div>
						<span><i>or</i></span>
					</div>

					<div class="or-spacer-vertical left">
  						<div class="mask"></div>
					</div>

					<div class="or-spacer-vertical right">
  						<div class="mask"></div>
					</div>
					
					<!-- end of or separator -->

					<p class= "emailSignUpHeader">
						<i class="fa fa-envelope-o"></i> Sign Up wth email
					</p>

					<% @errors = params['signup_errors'] %>
					<% @params = params['signup_params'] %>
					<%if @errors %>
						<ul>
							<% @errors.each do |error| %>

								<li><%= error%></li>

							<%end%>
						</ul>
					<%end%>

					<p class="fieldset">
						<%= f.radio_button :student, true, :checked => true %> 
						<%= label :student_true, 'I am a student' %>
						</br>
						<%= f.radio_button :student, false %>
						<%= label :student_false, 'I am not a student' %>
					</p>


				
					
					<p class="fieldset">
						<label class="image-replace cd-username" for="user_first_name">First Name, Last Name</label>
						<input class="full-width has-padding has-border" id="user_first_name" name="user[first_name]" type="text" placeholder="First Name, Last Name"><!-- used to be "username"-->
						<!-- <span class="cd-error-message">Error message here!</span> -->
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="user_email"></label> 
						<input class="full-width has-padding has-border" id="user_email" name="user[email]" type="email" placeholder="u.rochester.edu E-mail"> <!-- used to be "E-mail"-->
						<!-- <span class="cd-error-message">Error message here!</span> -->
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="user_password">Password</label>
						<input class="full-width has-padding has-border" id="user_password" name="user[password]" type="text"  placeholder="Password 6 characters minimum"> <!-- used to be "Password"-->
						<a href="#0" class="hide-password">Hide</a>
						<!-- <span class="cd-error-message">Error message here!</span> -->
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="user_password_confirmation">Confirm Password</label>
						<input class="full-width has-padding has-border" id="user_password_confirmation" name="user[password_confirmation]" type="text"  placeholder="Confirm Password"> <!-- used to be "Password"-->
						<a href="#0" class="hide-password">Hide</a>
						<!-- <span class="cd-error-message">Error message here!</span> -->
					</p>

					

					
					<p class= "emailSignUpHeader">
						Note: you will have to enter your .edu email and verify in the next section to complete your account creation.
					</p>

				
				 <div><%= f.submit "Create account", :class => "full-width has-padding" %></div>

			<% end %>

		<!-- makes facebook signup a popup -->
		<script>
			function popupCenter(url, width, height, name) {
			  var left = (screen.width/2)-(width/2);
			  var top = (screen.height/2)-(height/2);
			  return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
			}

			$("a.my_popup").click(function(e) {
			  popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
			  e.stopPropagation(); return false;
			});
		</script>