


<body>

	

	<div class= "row">
		<div class="container" id="mainSection">
			<div class="col-md-3" id="profileSection">
				<div class="row" id="profilePic">

						<% if @organization.photo.url != "/images/original/missing.png" %>
						<%= image_tag @organization.photo.url, :id => "porfilePicBig" %>
						<%else%>
						<%= image_tag 'faUsers.png', :id => "porfilePicBig" %>
						<%end%>

					<div class="container" id="profileCaption">
						<p><%=@organization.name%></p>
						<!-- <a href="#">View Organization Profile</a>
						<p></p>
						<a href="#">Edit Organization Profile</a> -->
					</div>
				</div>
				<div class="row" id="verification">
					<div class="heading">
						Verifications
					</div>
					<p> <i class="fa fa-check-circle-o"></i> CampusFly's president Timmy has been verified</p>
					<p> <i class="fa fa-check-circle-o"></i> CampusFly's vice president Bobby has been verified</p>
					<p> <i class="fa fa-times-circle-o"></i> CampusFly's credit card has not been verified.</p>
					<p> <i class="fa fa-check-circle-o"></i> CampusFLy's event "CampusFLy Beta Launch" has been verified.</p>
				</div>
			</div>

			<div class="col-md-8" id="content">
				<div class="row" id="inviteFriends">
					<div class="col-md-8">
						<p class="lead">	Get started by creating an Event! </p>
						<p> Your events will be displayed for students to see and attend!</p>
					</div>

					<%= link_to new_event_path :org_id => @organization.id do %>
						<div class="col-md-3 col-md-offset-1 inviteFriend">
							<button type="submit" class="btnInvite">Create Event</button>
						</div>
					<%end%>

				</div>
				<div class="row" id="myEvents">
					<div class="heading">
						<%=@organization.name%>'s Events
					</div>


			
					<div class="events">
						<div class="col-md-12">
                            <div class="row">
                              <div class="portfolio-items isotopeWrapper clearfix" id="3">
							  
                                <% @events.each do |event| %>
                                <article class="col-md-4 isotopeItem newest nearest" id='this_thing'>
                                	<div class="portfolio-item">
                                	<!-- The CSS is in "zEventDisplayFormatting.css-->
                                		<div class="portfolio-item-image-front-formatting">

                                			<!-- Event image -->
											<%= image_tag event.image %>


											<div class="event_front_container">
												<div class="sectionHeading">
													<h2><%= event.title %></h2>
													<h5><%= event.date.strftime("%b %d, %Y | %l:%M %p") %></h5>
													<br /> <p class="organization">by <%=event.organization.name%></p>
												</div>
												

												
											</div>
										</div>
										


										 <div class="portfolio-desc">										 	
											<div class="folio-info">
												<div class ="top-margin">
													<h6><%= link_to 'Edit', edit_event_path(event,:org_id => @organization.id) %></h6>
												</div>
										 		<div class = "details">
													<h6><%= link_to 'Destroy',  event, owner: @user,  method: :delete, data: { confirm: 'Are you sure?' } %></h6>
												</div>

												<!-- <a href="img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a> -->	
											</div>											 								   
										 </div>
									</div>
                                </article>
                                <% end %>                              
                              </div>                                        
							</div>
						</div>
					</div>	
		


				</div>
				<div class="row" id="myOrganizations">
					<div class="heading">
						CampusFly's Members
					</div>
					<div class="organizations">
						<% if @users.length > 0 %>

							<% @users.each do |user| %>
							 	<div class="col-md-3">

							 		<div class="row organizationsImg"><%= image_tag user.image_large %></div>
							 		<div class="row organizationsName"> <%=user.first_name%> </div>
							 		
							 	</div>
						 	<%end%>

						 <%else%>

						 	<div class="col-md-12">
							 		
							 		<div class="row organizationsName"> <h3> Looks like no one is in your organization!</h3> </div>
							 		
							 </div>

						 <% end%>	
					</div>					
				</div>

			</div>

			<div class="col-md-1" id="socialSection">
				<!--<div class="row" id="socialRSS">
					See what your friends have been up to!				
				</div>-->
			</div>			
		</div>		
	</div>

	<!--Start of footer class: including social media links etc-->	
	<section id="footer" class="section footer">
		<div class="container">
			<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
				<div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				
				</div>
			</div>

			<div class="row align-center copyright">
					<div class="col-sm-12"><p>Copyright &copy; 2015 CampusFly</p></div>
			</div>
		</div>

	</section>

	<!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

